<mat-toolbar color="primary" *ngIf="service.isLogged">
  <mat-toolbar-row>
    <span>Student Database</span>
    <div class="showDesktop">
      <a routerLink="/dashboard" mat-button>Dashboard</a>
      <a routerLink="add" mat-button>Add</a>

      <span class="spacer"></span>
      <a routerLink="/" mat-button (click)="logout()">Logout</a>
    </div>
    <span class="spacer"></span>

    <div class="showMobile">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/dashboard" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </a>
        <a routerLink="add" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Add</span>
        </a>
        <a routerLink="/" (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>